{% extends "page.html" %}


{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Thank You') }}</h1>
      <p>{{ _('Your comment has been sent') }}</p>

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Contact Us') }}
  </h2>
  <div class="module-content">
    <p>
      {{ _('Is There Questions') }}
    </p>
  </div>
</div>
{% endblock %}